@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Telugu:wght@200&family=Baskervville&family=Cormorant+Garamond:ital,wght@1,500&family=Dosis:wght@500&family=Inconsolata&family=Karla:wght@200&family=Quicksand:wght@500&family=Square+Peg&display=swap');

/* Override UGG site */
#main {width: 100%; padding:0;}
.content-asset p {margin:0 auto;}
.breadcrumb {display:none;}

/* Helpers */
/**************************/
.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {font-family:'Oswald', sans-serif; font-size:24px; font-weight:400; text-transform: uppercase; color:black; padding:0; margin:0;}
#parallax-world-of-ugg h2 {font-family:'Oswald', sans-serif; font-size:70px; letter-spacing:10px; text-align:center; color:white; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;}
#parallax-world-of-ugg h3 {font-family:'Oswald', sans-serif; font-size:14px; line-height:0; font-weight:400; letter-spacing:8px; text-transform: uppercase; color:black;}
#parallax-world-of-ugg p {font-family:'Source Sans Pro', sans-serif; font-weight:400; font-size:14px; line-height:24px;}
.first-character {font-weight:400; float: left; font-size: 84px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}

.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {background: white; padding: 60px; margin:0 auto; text-align:center;}
#parallax-world-of-ugg .title h1 {font-size:35px; letter-spacing:8px;}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {background: white; padding: 60px; width:820px; margin:0 auto; text-align:justify;}
#parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
#parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.unsplash.com/photo-1600565193348-f74bd3c7ccdf?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.unsplash.com/photo-1623855244697-5d8fbe9c7892?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
#parallax-world-of-ugg .parallax-three {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.unsplash.com/photo-1540420773420-3366772f4999?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2784); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {padding: 30px; width:420px;}
  #parallax-world-of-ugg h2 {font-size:30px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
}


@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Telugu:wght@200&family=Baskervville&family=Cormorant+Garamond:ital,wght@1,500&family=Dosis:wght@500&family=Inconsolata&family=Karla:wght@200&family=Quicksand:wght@500&family=Square+Peg&display=swap');

*{
  margin:0;
  padding:0;
  }

/************************************ Normal Nav **************************************/

ul,li{
  list-style: none;
  text-decoration: none;
}

.topnav a{
  text-decoration: none;
  color: black;
  font-family: 'Karla', sans-serif;
  font-size: 2.5vmin;
  text-transform: uppercase;
}

.topnav a:hover{
color: rgb(218, 211, 203);
}

.topnav{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
overflow: hidden;
}


/* Change applies to li but not to the logo */
.topnav li:not(.centered-logo){ 
  flex-grow: 1;
  text-align: center;
}

/* Change the size of the img */
.logo img{
  width:200px ;
}

.centered-logo{
  margin-left: auto;
}

/************************************ Dropdown Menu **************************************/

.icon-container {  /*Contain the menu icon */
  position: absolute;
  right: 0px;
  top: -60px;
  z-index: 100;
  width: 100px;
  height: 200px;
  background: transparent;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  display: none;
}

label .hamburger { /* Second line of the icon */
  position: absolute;
  top: 135px;
  left: 40px;
  width: 30px;
  height: 2px;
  background: black;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* First and Third line of the icon */
label .hamburger:after, label .hamburger:before { 
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: black;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; } /* the toggle box, when it is clicked, menu will be displayed */

label input:checked + .icon-container { /*Spread out the white background */
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF; /* Bring out the full-size white background when the icon is clicked  */
  border-radius: 0;
  background: white !important;
}

/*Animation of the icon */
label input:checked + .icon-container .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: black;
}

label input:checked + .icon-container .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  background: black;
}

label input:checked + .icon-container .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;  
  background: black;
}

/* Display the menu when click */ 
label input:checked + .icon-container + ul { 
  opacity: 1; 
}

 label ul { 
  z-index: 200;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  list-style: none;
  line-height: 3.5rem;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: black;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-size: 4vmin;
  text-transform: uppercase;
  text-align: center;
}

label a:hover{
 color: rgb(218, 211, 203); 
}

/************************************ About Us Section **************************************/
.about-container{
background-color: #f5ecea;
width: 100%;
display: flex;

}

.about-content-container{
display: flex;
flex-direction: column;
align-items: center;
align-self: center;
font-family: 'Karla', sans-serif;
}

.about-header{
padding-top: 3rem;
font-weight: 800;
font-size: 40px;
text-align: center;
font-family: 'Baskervville', serif;
}

.about-text{
padding: 1rem;
text-align: center;
width: 90%;
font-size: 20px;
}

.about-button{
margin-top: 1rem;
margin-bottom: 3rem;
border-style: solid;
border-color: rgb(168, 155, 155);
background-color: transparent;
border-radius: 30px;
width: 130px;
padding: 10px 20px;
display: inline-block;
}

.about-button:hover{
opacity: 0.5;
}

.about-pic {
  width: 30%;
 height: auto;
  display: flex;
  margin-left: 20%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/************************************ Recipe Card Section **************************************/

.component{
margin: 1rem;
}

.btn-outline-dark:hover{
opacity: 0.5;
background-color: rgb(168, 155, 155);
}

.card-text{
text-align:center;
font-family: 'Karla', sans-serif;
}

/************************************ Subscribe Section **************************************/

.subscribe-container{
display: flex;
flex-direction: column;
width: 100%;
height: 400px;
justify-content: center;
align-items: center;
margin-top: 3rem;
margin-bottom: 3rem;
padding: 2rem 0;
background-color: #f5ecea;
}

.subscribe-header,.subscribe-text,.subscribe-button {
font-family: 'Karla', sans-serif;
}

.subscribe-header{
font-weight: 800;
text-transform: uppercase;
font-size: 40px;
font-family: 'Baskervville', serif;
}

.subscribe-text{
padding-top: 1rem;
text-align: center;
font-size: 20px;
}

.subscribe-button{
  margin-top: 1rem;
  border-style: solid;
  border-color: rgb(168, 155, 155);
  background-color: transparent;
  border-radius: 30px;
  width: 130px;
  padding: 10px 20px;
  display: inline-block;
  font-size: 18px;
  }

.subscribe-button:hover{
opacity: 0.5;
}

/************************************ Footer **************************************/

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  overflow: hidden;
}


.ml3 {
  font-weight: 900;
  font-size: 3.5em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: black;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#e9edee
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/************************************ Responsive Setting **************************************/

@media screen and (max-width: 768px) {

.topnav .nav-link {
display: none;
}

.logo img{
  width: 180px;
  margin-top: 15px;
}

.centered-logo{
margin-left: -80%;
margin-top: -30px;
}

.icon-container{
display: block;
}

.about-pic{
  display: none !important;
}

.subscribe-text{
width:320px;
}

}